<div class="jumbotron justify-content-center">
  <h1 class="display-4">todos</h1>

  <input autofocus="" class="new-todo ng-valid ng-touched ng-dirty" placeholder="What needs to be done?">

  <div class="card">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">An item</li>
      <li class="list-group-item">A second item</li>
      <li class="list-group-item">A third item</li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-9">
      <h1 class="text-center">todos</h1>

      <div class="card">
        <div class="card-header">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="What needs to be done?">
          </div>
        </div>

        <ul class="list-group list-group-flush">
          <li class="list-group-item">An item</li>
          <li class="list-group-item">A second item</li>
          <li class="list-group-item">A third item</li>
        </ul>

        <div class="card-footer">
          3 items
        </div>

      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>

